.header {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: #e0e1ce;
  height: 75px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.add__button {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  color: black;
  font-size: large;
}

.add__button {
  color: #e80056;
  cursor: pointer;
}

span {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.sticker__board {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 90%;
}

.sticker__item {
  background: url("./assets/image/Sticker.png");
  width: 250px;
  height: 220px;
  padding: 15px;
  border-radius: 10px;
}

.sticker__area {
  width: 80%;
  height: 100px;
  padding: 12px 20px;
  border: 1px solid rgb(255, 255, 0);
  border-radius: 4px;
  background-color: yellow;
  font-size: 16px;
  resize: none;
}

.sticker__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.sticker__button-delet {
  color: green;
  cursor: pointer;
  transition: 0.5s all ease;
}

.sticker__button-delet:hover {
  color: red;
}
